/*
04. Elements

These are bare, unclassed HTML elements. What does an h1 look like without a class on it? What does an a look like without a class on it? The Elements layer binds onto bare HTML element (or 'type') selectors only. It is slightly more explicit than the previous layer in that we are now saying 'make every h1 this big', or 'make every a be a certain colour'. It is still a very low-specificity layer, but affects slightly less of the DOM, and is slightly more opinionated, hence its location in the Triangle.

The Elements layer is typically the last one in which we'd find bare, element-based selectors, and is very rarely added to or changed after initial setup. Once we have defined element-level styles, all additions and deviations should be implemented using classes.
*/

html {
  font-family: "Proxima Nova", san-serif;
  font-size: $base_font_size;
  color: $black;
}

body {
  background-color: $site_bg_color;
}

/* Base Headline Styles */
h1 {
  font-weight: 700;
  font-size: 2.8125rem;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-weight: 400;
  font-size: 1.25rem;
}

/* Base Paragraph Styles */
p {
  font-size: 1.125rem;
  font-weight: 400;
  color: $grey;
  line-height: 1.8;
}

/* Base Link Styles */
a {
  text-decoration: none;
}
