/*
07. Trumps

This layer beats – or 'trumps' – all other layers, and has the power to override anything at all that has gone before it. It is inelegant and heavy-handed, and contains utility and helper classes, hacks and overrides.

A lot of the declarations in this layer will carry !important (e.g. .text-center { text-align: centre !important; }). This is the highest specificity layer – it includes the most explicit types of rule, with the most narrow focus. This layer forms the point of the Triangle.
*/

.u-hide {
  display: none;
}

.u-show {
  display: block;
}

// Snipcart override for Issue #3
#snipcart-next {
  margin-bottom: 40px;
} 
@include breakpoint(tablet) {
  #snipcart-next {
    margin-bottom: 0px;
  }  
}