.why {
  display: flex;
  flex-direction: column;
  align-items: center;

  .why-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $maxContentWidth;
    margin: 5vh 6vw 10vh 6vw;
    
    @include breakpoint(tablet) {
      padding: 0 15vw;
    }

    .cta-btn {
      margin-top: 55px;
    }
  }
}

