// Styles for Primary & Secondary CTA Buttons
.cta-btn {
  background-color: $primaryGreen;
  border-radius: 2px;
  border: 1px $primaryGreen solid;
  padding: 12px 0;
  max-width: 275px;

  &:hover {
    background-color: #fff;

    a:hover, a:focus {
      color: $primaryGreen;
    }
  }

  a {
    color: #fff;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;

    &:visited, &:hover {
      color: #fff;
    }
  }

  &.white {
    background-color: #fff;
    border: none;

    a {
      color: $primaryGreen;

      &:visited {
        color: $primaryGreen;
      }
    }

    &:hover {
      background-color: $primaryGreen;

      a:hover, a:focus {
        color: #fff;
      }
    }
  }

  &.transparent {
    background-color: transparent;
    
    a {
      color: $primaryGreen;

      &:visited {
        color: $primaryGreen;
      }
    }

    &:hover {
      background-color: $primaryGreen;

      a:hover, a:focus {
        color: #fff;
      }
    }
  }
}