header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $primaryGreen;

  .header-content {
    max-width: $maxContentWidth;
    height: 100px;

    .logo {
      z-index: 11;
      position: absolute;
      top: 25%;
      left: 25px;
      width: 65px;
      color: #fff;
      float: left;

      @include breakpoint(tablet) {
        top: 50%;
        left: 40px;
      }

      @include breakpoint(desktop) {
        left: 60px;
      }

      img {
        width: 100%;
      }
    }

    .menu-icon {
      z-index: 11;
      position: absolute;
      top: 35%;
      right: 25px;
      width: 20px;
      height: 15px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
    
      span {
        position: absolute;
        left:0;
        display: block;
        height: 2px;
        width: 100%;
        background: #fff;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
    
      span:nth-child(1) {
        top: 0px;
      }
    
      span:nth-child(2) {
        top: 5px;
      }
    
      span:nth-child(3) {
        top: 10px;
      }
    
      &.open {
        span:nth-child(1) {
          top: 5px;
          transform: rotate(135deg);
        }
    
        span:nth-child(2) {
          left: -60px;
          opacity: 0;
        }
    
        span:nth-child(3) {
          top: 5px;
          transform: rotate(-135deg);
        }
      }

      @include breakpoint(tablet) {
        display: none;
      }
    }

    .nav-container {
      z-index: 10;
      position: absolute;
      top: -100vh;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: $primaryGreen;
      transition: top 0.40s ease;
      font-size: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

        @include breakpoint(desktop) {
          display: none;
        }

        nav {
          display: flex;
          flex-direction: column;
          align-items: center;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            width: 100%;

            li {
              padding: 15px;
              color: #fff;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-weight: bold;

              &:hover {
                background-color: #fff;

                a {
                  color: $primaryGreen;
                }
              }

              a {
                color: #fff;
                padding: 15px;
              }
            }
          }

          .cta-btn {
            margin-top: 50px;
          }
        }

      &.open {
        top: 0;
      }
    }
    
    .desktop-nav {
      display: none;

      @include breakpoint(tablet) {
        display: block;
        position: absolute;
        top: 40%;
        right: 25px;
        
        nav {
          display: flex;

          ul {
            transform: translateY(30%);
            margin: 0;
            padding: 0;
            list-style: none;
            color: #fff;
    
            li {
              display: inline;
              margin-right: 20px;
              padding: 12px;

              @include breakpoint(desktop) {
                margin-right: 30px;
              }

              &.active {
                border-bottom: 3px #fff solid;
              }

              &:hover {
                border-bottom: 3px #fff solid;
              }

              a {
                color: #fff;
                
                &:visited {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}