.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  .testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $maxContentWidth;
    margin: 5vh 6vw 10vh 6vw;

    @include breakpoint(tablet) {
      padding: 0 15vw;
    }

    .cta-btn {
      margin-top: 55px;
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;

  .quote {
    text-align: center;
  }

  .quoted {
    display: flex;
    flex-direction: column;
    align-items: center;

    .quoted-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
      margin-bottom: 15px;
    }

    .quoted-name {
      margin: 0;
      padding: 0;
      font-size: 0.6875rem;
      font-weight: 600;
      color: $black;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .quoted-position {
      margin: 0;
      padding: 0;
      font-size: 0.5625rem;
      color: $grey;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}