.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .faq-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 5vh 6vw;

    @include breakpoint(tablet) {
      padding: 5vh 10vw;
    }

    @include breakpoint(desktop) {
      padding: 5vh 20vw;
      align-items: flex-start;

      h2 {
        align-self: center;
      }
    }

    .question-group {
      padding-left: 25px;
      
      p.question {
        cursor: pointer;
        font-size: 1rem;
        color: $black;
        font-weight: 700;
        text-indent: -1.4rem;
        max-width: 470px;

        &:before {
          content: "+ ";
          color: $primaryGreen;
          margin-right: 10px;
          font-size: 1rem;
        }
      }

      p.answer {
        display: none;
        font-size: 1rem;
        color: $grey;
        max-width: 470px;
      }
    }
  }
}