.fight-back {
  display: flex;
  flex-direction: column;
  
  .section-banner {
    width: 100vw;
  }

  .fight-back-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $maxContentWidth;
    margin: 5vh 6vw 10vh 6vw;

    p {
      text-align: center;

      @include breakpoint(tablet) {
        padding: 0 15vw;
      }
    }

    .symptoms {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 25px;

      .symptom {
        width: 40%;

        @include breakpoint(tablet) {
          width: 33%;
          padding: 5%;
          margin-bottom: 5%;

          &:nth-of-type(2), &:nth-of-type(5)  {
            border-left: 1px rgba(151, 151, 151, .2) solid;
            border-right: 1px rgba(151, 151, 151, .2) solid;

            @include breakpoint(desktop) {
              border: none;
            }
          }
        }

        @include breakpoint(desktop) {
          width: 25%;
          margin-bottom: 2%;
          
          &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(5), &:nth-of-type(6) {
            border-right: 1px rgba(151, 151, 151, .2) solid;
          }
        }

        .symptom-description {
          margin: 0;
          padding: 0;
          text-align: left;
          font-size: 1rem;
          color: $black;
          line-height: 1.3;
        }
        
      }

      hr {
        background-color: $grey;
        opacity: .1;
        border: none;
        width: 60vw;
        padding: 1px;
        margin: 20px auto;

        @include breakpoint(tablet) {
          display: none;
        }
      }
    }
  }
}