.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('images/dist/running.jpg');
  background-repeat: no-repeat;
  background-position: right 5% top 15%;
  background-size: cover;

  // TODO: Swap background image

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primaryGreen;
    opacity: .6;
  }
  
  .hero-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $maxContentWidth;
    height: 100%;
    margin: 125px 3vw;
    color: #fff;

    h1.title {
      max-width: 600px;
      margin: 25px auto;
      font-size: 1.125rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2.25px;

      @include breakpoint(tablet) {
        font-size: 2.1875rem;
      }
    }

    .line {
      height: 2px;
      width: 35px;
      padding: 1px;
      background-color: #fff;

      @include breakpoint(tablet) {
        width: 45px;
      }
    }

    .intro {
      max-width: 600px;
      margin: 20px auto;
      font-size: 1rem;
      text-align: center;
      color: #fff;

      @include breakpoint(tablet) {
        line-height: 1.7;
      }
    }

    .cta-btn {
      margin-top: 15px;
    }

    .scroll-down {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 50px;
    }
  }
}