.pricing {
  display: flex;
  flex-direction: column;

  .pricing-content {
    display: flex;
    flex-direction: column;
    
    @include breakpoint(desktop) {
      flex-direction: row;
    }
    
    .benefits {
      background-color: #FBFBFB;
      padding: 5vh 3vw 10vh 3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include breakpoint(desktop) {
        width: 50vw;
        padding: 5vh 8vw 10vh;
      }

      ul {
        border: 1px #DBDBDB solid;
        padding: 20px 30px;
        list-style: none;

        @include breakpoint(desktop) {
          padding: 2vw 4vw;
        }

        li {
          padding: 20px 0;
          color: #636363; 
          text-indent: -1.2rem;

          &:before {
            content: "• ";
            color: $primaryGreen;
            margin-right: 10px;

            @include breakpoint(desktop) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .price {
      background-color: $primaryBlue;
      padding: 5vh 3vw 10vh 3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include breakpoint(desktop) {
        width: 50vw;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 400;
        text-transform: initial;
        color: #fff;

        @include breakpoint(desktop) {
          font-size: 1.5rem;
        }
      }

      .prices {
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 50vw;

        @include breakpoint(tablet) {
          width: 25vw;
        }
        
        .regular-price {
          margin: 0;
          margin-right: 25px;
          position: relative;
          font-size: 1.25rem;
          color: rgba(255, 255, 255, .4);

          &:after {
            content: '';
            background-color: #fff;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            transform: translateX(-100%);
          }
        }

        .discounted-price {
          margin: 0;
          font-size: 2.5rem;
          font-weight: 700;
          color: #fff;
        }
      }

      .bulk-discounts {
        margin-top: 50px;
        font-size: 0.875rem;
        color: #fff;
        text-align: center;

        @include breakpoint(desktop) {
          font-size: 1rem;
        }

        a {
          color: #fff;
          font-weight: 700;

          &:hover {
            color: $primaryGreen;
          }
        }
      }
    }
  }
}