.page-content {

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $maxContentWidth;
    margin: 5vh 6vw 10vh 6vw;

    @include breakpoint(desktop) {
      align-items: flex-start;
    }

    .featured-image {
      margin-top: 25px;
      
      @include breakpoint(desktop) {
        align-self: flex-end;
        margin-right: -6vw;
        max-height: 50%;
        max-width: 90%;
      }

      img {
        max-width: 100%;
      }
    }

    .order-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;

      .item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vh 6vw;
        background-color: $lightGrey;

        @include breakpoint(desktop) {
          flex-direction: row;
        }

        img {
          border: 2px $primaryGreen solid;
          padding: 15px;
        }

        .name-and-description {
          display: flex;
          flex-direction: column;
          align-items: center;

          @include breakpoint(desktop) {
            align-items: flex-start;
            padding-left: 25px;
            padding-right: 5%;
          }

          .item-name {
            text-align: center;
            font-weight: 600;
            margin: 0;

            @include breakpoint(desktop) {
              text-align: left;
            }
          }

          .item-description {
            text-align: center;
            margin: 0;
            margin-top: 10px;

            @include breakpoint(desktop) {
              text-align: left;
            }
          }
        }

        .item-prices {
          display: flex;
          flex-direction: column;
          align-items: center;

          .regular-price {
            position: relative;
            font-size: 1.25rem;
            font-weight: 600;
            color: rgba(39,39,39,0.3);
            padding: 10px;

            &:after {
              content: '';
              background-color: #8B8B8B;
              width: 90%;
              height: 2px;
              position: absolute;
              top: 50%;
              transform: translateX(-90%);
            }
          }

          .discounted-price {
            position: relative;
            font-size: 1.875rem;
            font-weight: 600;
            color: $black;
            padding: 10px;
          }
        }
      }

      .order-total {
        strong {
          color: $primaryGreen;
        }
      }

      form.order-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;

        @include breakpoint(tablet) {
          width: 50vw;
        }

        input {
          width: 100%;
          border: 1px #C7C7C7 solid;
          border-radius: 2px;
          margin-top: 10px;
          padding: 10px;
          color: $black;

          &::placeholder {
            color: #C7C7C7;
            font-size: 0.950rem;
          }
        }

        .order-form-note {
          text-align: center;
          font-size: 0.875rem;
        }

        button {
          border: 2px $primaryGreen solid;
          background-color: #fff;
          font-size: 0.8125rem;
          font-weight: 600;
          padding: 15px 50px;
          color: $primaryGreen;

          &:hover {
            background-color: $primaryGreen;
            color: #fff;
            cursor: pointer;
          }
        }
      }

      .thank-you {
        display: none;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
        }
      }
    }
  }
}